<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Car Lease</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/global.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <script src="js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <section id="header">
      <nav
        class="navbar navbar-expand-md navbar-light"
        id="navbar_sticky"
        style="background-color: rgba(0, 0, 0, 0.9)"
      >
        <div class="container-xl">
          <a class="navbar-brand fs-3 p-0 fw-bold text-white" href="/index"
            ><img
              src="https://firebasestorage.googleapis.com/v0/b/rent-car-30b65.appspot.com/o/images%2Ffavicon.png?alt=media&token=a47f67b1-774e-44ef-845b-2c8a1594ed4a"
              alt=""
              height="30px"
            />
            <br />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cars/list">Vehicle Models </a>
              </li>
            </ul>
            <ul class="navbar-nav mb-0 ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/user"><%= user.username %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link button_2 ms-2 me-2" href="/logout"
                  >Logout <i class="fa fa-check-circle ms-1"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <section class="p_3" id="model_pg">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <ul>
              <li>
                <a href="/user" class="btn button_2 btn-user"
                  >Kiểm tra trạng thái xe đặt</a
                >
              </li>
              <hr />
              <li>
                <a href="/user/edit" class="btn button_2 btn-user"
                  >Thay đổi thông tin tài khoản</a
                >
              </li>
            </ul>
          </div>
          <div class="col-sm-8">
            <% if(data.length === 0) { %>
            <div style="width: 100%; padding: 20px">
              <p>
                <strong>
                  Bạn chưa có đơn hàng nào,
                  <a href="/index" style="color: blue">đặt xe</a> ngay!
                </strong>
              </p>
            </div>
            <% } else { %> <% data.forEach((item) => { %>
            <div class="card" style="width: 100%; margin-bottom: 20px">
              <img
                class="card-img-top"
                src="<%= item.car_id.car_img[0] %>"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">
                  <%= item.car_id.car_brand %> <%= item.car_id.car_model %>
                </h5>
                <hr />
                <p class="card-text">
                  Thời gian đặt xe: <%= item.datePickup.toLocaleDateString(); %>
                </p>
                <p class="card-text">
                  Thời gian trả xe: <%= item.dateDrop.toLocaleDateString() %>
                </p>
                <p style="display: inline-block">Tổng tiền phải trả:</p>
                <h2 style="display: inline-block; color: rgb(255, 77, 48)">
                  <%= item.total_cost %>
                </h2>
                <h6 class="mb-0">
                  <a
                    class="button book-btn"
                    style="text-align: center"
                    href="/rental/delete/<%= item._id %>"
                    onclick="return confirm('Bạn có chắc muốn hủy đơn hàng này?')"
                    >Hủy đơn đặt <i class="fa fa-trash ms-1"></i>
                  </a>
                </h6>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
