<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Update Car</h1>
      <form method="post" action="" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleFormControlInput1">Drop Of Local</label>
          <input
            type="text"
            class="form-control"
            placeholder="Drop Of Local"
            name="dropofLocaltion_name"
            value="<%=dropLocal%>"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Pick Up Local</label>
          <input
            type="text"
            class="form-control"
            placeholder="Pick Up Local"
            name="pickupLocaltion_name"
            value="<%=pickLocal%>"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Brand Of Car</label>
          <input
            type="text"
            class="form-control"
            placeholder="<%=car.car_brand%>"
            name="brand"
            value="<%=car.car_brand%>"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Model Of Car</label>
          <input
            type="text"
            class="form-control"
            placeholder="<%=car.car_model%>"
            name="model"
            value="<%=car.car_model%>"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Type Of Car</label>
          <select class="form-control" name="type">
            <option>Sedan</option>
            <option>7 Seat</option>
            <option>Pick Up</option>
            <option>Sport</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Seat</label>
          <select class="form-control" name="seat">
            <option>2</option>
            <option>4</option>
            <option>7</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Transmission</label>
          <select class="form-control" name="gear">
            <option>Số sàn</option>
            <option>Số tự động</option>
            <option>CVT</option>
            <option>Xe điện</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">License Plate</label>
          <input
            type="text"
            class="form-control"
            placeholder="<%=car.car_licensePlate%>"
            name="licensePlate"
            value="<%=car.car_licensePlate%>"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Manufacturing Date</label>
          <input
            type="number"
            min="1900"
            max="2030"
            class="form-control"
            placeholder="<%=car.car_year%>"
            name="year"
            value="<%=car.car_year%>"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Color Of Car</label>
          <input
            type="text"
            class="form-control"
            placeholder="<%=car.car_color%>"
            name="color"
            value="<%=car.car_color%>"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Car Rental Price By Day</label>
          <input
            type="number"
            class="form-control"
            placeholder="<%=car.car_rentalPrice%>"
            name="rentalPrice"
            value="<%=car.car_rentalPrice%>"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Availability</label>
          <select class="form-control" name="availability">
            <option>Unavailable</option>
            <option>Available</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">About Car</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="10"
            name="des"
          >
<%= car.car_des %></textarea
          >
        </div>
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label"
            >Select Pictures</label
          >
          <input
            class="form-control"
            type="file"
            id="formFileMultiple"
            name="img"
            multiple
          />
        </div>
        <button type="submit" class="btn btn-success">Update</button>
      </form>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
